* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Abril Fatface', cursive;
}

.background {
    height: 100%;
    background-image: url(/Users/gnmr/projects/API_Div_Calc/newspaperStockExchange.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(3px);
    z-index: 0;
}

.container {
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(255, 255, 255, 0.5); /* Black w/opacity/see-through */
    color: black;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 90%;
    height: 95%;
    padding: 5px;
    text-align: left;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

label {
    font-size: 18px;
}

.amountInput, .tickerInput {
    width: 100%;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.submitButton {
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 300;
    background-color: grey;
}

/*.goButton {
    transition: transform 4s;
}

.submitButton:hover {
    transform: scaleX(3)
}*/

.goButton, .error-message {
    text-align: center;
}

.error-message {
    color: red;
}

ul {
    list-style: none;
    columns: 2;
}

.hidden {
    display: none;
}

.upperCase {
    text-transform: uppercase
}