* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Abril Fatface', cursive;
}

.background {
    height: 100%;
    background-image: url(newspaperStockExchange.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(1px);
    z-index: 0;
}

.container {
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(255, 255, 255, 0.7); /* Black w/opacity/see-through */
    color: black;
    border: 3px solid #f1f1f1;
    border-radius: 5px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 90%;
    height: 87%;
    padding: 5px;
    overflow: auto;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

/*Slide Down Animation*/
.slide-down{
  animation: 3s slide-down;
}

@keyframes slide-down {
  from {
    margin-top: -100%;
  }

  to {
    margin-top: 0%;
  }
}

/*Slide Left to Right animation*/
.slide-right {
    animation: 1s slide-right;
  }
  
  @keyframes slide-right {
    from {
      margin-left: -100%; 
    }
  
    to {
      margin-left: 0%;
    }
  }


/*Slide Right to Left animation*/
.slide-left {
    animation: slide-left 2s;
  }
  
  @keyframes slide-left {
    from {
      margin-left: 100%;
    }
  
    to {
      margin-left: 0%;
    }
  }

label {
    font-size: 18px;
}

.amountInput, .tickerInput {
    width: 100%;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: goldenrod;
    border-radius: 5px;
}

.submitButton {
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 300;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    border-radius: 10px;
    outline: none;
    box-shadow: 0 9px goldenrod;
    cursor: pointer;
}

.submitButton:hover {
    background-color: gold;
}

.submitButton:active {
    box-shadow: 0 5px rgb(236, 172, 8);
    transform: translateY(6px);
  }

.goButton, .error-message {
    text-align: center;
}

.error-message {
    color: red;
    font-size: 20px;
}

.searchResults{
    text-decoration: underline;
}

ul {
    display: grid;
    grid-template-columns: 70% 30%;
    font-size: 18px;
}

li {
    list-style: none;
    padding: 2px;
    margin-top: 10px;
    border-bottom: 1px solid darkgoldenrod;
}

.alignRight {
    text-align: right;
}

.hidden {
    display: none;
}

.upperCase {
    text-transform: uppercase
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:40px;   /* Height of the footer */
    text-align: center;
 }

 .logo {
     display: inline-block;
     cursor: pointer;
 }

 svg {
    background-color: lightslategray;
    border-radius: 10px;
    padding: 2px;
 }

 @media only screen and (min-width: 768px) {
     .container {
         height: 85%;
         width: 40%;
     }
 }